*{
	margin: 0;
	padding: 0;
}
.green{
	color: #82ae46 !important;
}
.bg-green{
	background-color: #82ae46 !important;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
/*
font-family: 'Amatic SC', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
*/

/********************
header section css
*********************/
header{
	width: 100%;
}

.top-header{
	width: 100%;
	background-color: #82ae46;
	padding: 8px 0px;
}
.top-header span{
	color: #fff;
	font-size: 11px;
	font-family: 'Poppins', sans-serif;
}
.first{
	float: left;
	width: 30%;
}
.last{
	float: right;
}

.navbar{
	display: flex;
	justify-content: space-between;
	padding: 16px 0px;
}
.logo a{
	font-size: 20px;
	color: #82ae46;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.menus ul li{
	list-style: none;
	display: inline-block;
	margin-left: 32px;
	line-height: 1.7;
}
.menus ul li a{
	font-family: 'Poppins', sans-serif;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
}

/********************
banner section css
*********************/
.banner{
	width: 100%;
	background-image: url(../img/banner2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
	background-blend-mode: soft-light;
	padding: 120px 0px;
}
.banner-content{
	text-align: center;
}
.banner-content h1{
	font-size: 150px;
	color: white;
	font-weight: 400;
	font-family: 'Amatic SC', cursive;
	line-height: 1.3;
	text-transform: uppercase;
}
.banner-content p{
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 3px;
	margin-bottom: 32px;
}
.banner-btn{
	background-color: #82ae46;
	color: white;
	padding: 8px 12px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	border-radius: 35px;
	border: 2px solid #82ae46;
	display: inline-block;
}
.banner-btn:hover{
	background-color: transparent;
	border: 2px solid #fff;
}

/********************
.features section css
*********************/
.features{
	width: 100%;
	padding: 100px 0px;
}
.f-item-gallery{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.f-item img{
	width: 50px;
	margin-top: 26px;
	filter: invert(1);
}
.f-item h6{
	font-size: 15px;
	color: black;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 12px;
	margin-bottom: 12px; 
}
.f-item p{
	font-size: 12px;
	color: black;
	opacity: 0.5s;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
.f-item span{
	display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 100%;
    position: relative;
}
.f-item:nth-child(1) span{
	background-color: #e4b2d6;
}
.f-item:nth-child(2) span{
	background-color: #dcc698;
}
.f-item:nth-child(3) span{
	background-color: #a2d1e1;
}
.f-item:nth-child(4) span{
	background-color: #dcd691;
}
.f-item span:hover{
	background-color: #82ae46;
}
.f-item span::before{
	content: '';
	position: absolute;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 100%;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}
/********************
category section css
*********************/
.f-category{
	width: 100%;
	padding: 100px 0px;
}
.fc-gallery{
	display: flex;
}
.fc-item{
	flex-basis: 33%;
}
.item-content{
	position: relative;
	margin: 26px 12px;
}

.item-content a{
	position: absolute;
	bottom: 5px;
	left: 0;
	background: #82ae46;
	color: white;
	padding: 10px 20px;
	display: inline-block; 
	font-family: 'Poppins', sans-serif;
}
.item-content img{
	max-width: 100%;
	height: auto;
}
.second{
	text-align: center;
	margin: 24px;
	background-image: url(../img/veg3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.second h3{
	font-size: 28px;
    color: #82ae46;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 16px;

}
.second p{
	font-size: 15px;
	color: #808080;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 16px;
}
.fc-item .banner-btn:hover{
	border-color: black;
	color: black;
}